{% extends 'base.html.twig' %}

{% block content %}
<div class="container-fluid">
<p>Thank you very much for ordering movies from our website!</p>
<p>Order information:<br>
{{ order_information }}
</p>
<p>We will notify you as soon as we have processed your order.</p>
</div>
{% endblock content %}
