{% extends 'base.html.twig' %}

{% block content %}
<div class="container-fluid">
<h3>Genres</h3>
		<ul>
			{% for genre in genres %}
			  <li><a href="/genres/genre/{{ genre.getId() }}">{{ genre.getName() }}</a></li>
	          {% endfor %}
		</ul>
</div>
{% endblock content %}
